[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
X-KDE-Submenu=Insight
MimeType=application/codeaster-export;
Actions=runcaexport;
Terminal=true

[Desktop Action runcaexport]
Exec=as_run "%f"
Icon=utilities-terminal
Name=Run Code_Aster case
Name[de]=Mit Code_Aster ausführen
