QComboBox,QPushButton,QTreeWidget,QListWidget,QTabBar::tab{
background-color:white;
border-radius:5;
border-width:2px;
border-style:solid;
border-color:black;background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:1, stop:0 rgba(230, 230, 230, 255), stop:1 rgba(255, 255, 255, 255));
min-width:80px;
min-height:25px;
}
QTreeWidget,QListWidget{
background-color:white;
}
QTabWidget::pane { /* The tab widget frame */
    border:2px solid black;
border-radius:5;
}
QTabBar::tab{
border-width:1px;
border-bottom:0;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
padding:5px;
}
QPushButton{
  padding:5px;
}