
body {
    font-family: arial;
}

h1 {
    text-align: center;
}

.insightanalysisstack {
    margin: 20px 40px;
}

.links {
    margin: 10px;
    text-align: center;
}

.links a {
    padding-left: 5px;
    padding-right: 5px;
}


.selected-link {
    font-weight: bold;
}
